body{
	background-image: url(../images/logo.jpg);
	background-color: black;
	background-position: left;
  	background-repeat: round;
  	background-attachment: fixed;
  	background-size: cover;
  	-webkit-background-size: contain;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}	

#maincontainer{
	text-align: center;
	color: white;
}

p{
	font-family: 'Poller One', cursive;
	text-shadow: 0px 0px 20px #ffffff;
	font-size: 290%;
	}


#battle{
	color: black;
	font-family: 'Poller One', cursive;
	text-shadow: 0px 0px 20px red;
	font-size: 290%;
}	

#box1{
	background: #ffe6e6;
	color: grey;
	border: 5px;
	border-color: #4aaaa5;
	width: 750px;
    height: 210px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);

}

#box2{
	background: #ffe6e6;
	color: grey;
	border: 5px;
	border-color: #4aaaa5;
	width: 750px;
    height: 150px;
    background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);

}

#box3{
	background: #ffe6e6;
	color: grey;
	border: 5px;
	border-color: #4aaaa5;
	width: 750px;
    height: 150px;
    background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);

}


#yoda{
	font-family: 'Poller One', cursive;
}

#luke{
	font-family: 'Poller One', cursive;
}

#darth{
	font-family: 'Poller One', cursive;
}

#bobafett{
	font-family: 'Poller One', cursive;
}

h1{
	font-size: 90%;
	line-height: 1px;
}

#attack{
	float: center;
}
